<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/new.css" />
    <title>Ligi | Page</title>
  </head>
  <body>
    <div class="container">
      <div class="header mt-2">
        <h4>Edit <%= arena.name %> Arena</h4>
      </div>

      <%- include("../partials/messages") %>
      <form
        action="/gaming/edit/<%= arena.id %>?_method=PUT"
        method="POST"
        class="form"
      >
        <div class="Form-control mt-2">
          <label for="name">Gaming Arena name</label>
          <input
            type="text"
            placeholder="Enter gaming arena name"
            name="name"
            id="name"
            value="<%= typeof arena.name != 'undefined' ? arena.name : '' %>"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="Form-control">
          <label for="location">Location</label>
          <input
            type="text"
            placeholder="Enter location"
            name="location"
            id="location"
            value="<%= typeof arena.location != 'undefined' ? arena.location : '' %>"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="Form-control">
          <label for="fee">Subscription Fee</label>
          <input
            type="number"
            placeholder="Subscription Fee"
            name="fee"
            id="fee"
            value="<%= typeof arena.fee != 'undefined' ? arena.fee : '' %>"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="Form-control">
          <label for="consoles">Gaming Consoles</label>
          <input
            type="number"
            placeholder="Number of consoles"
            name="consoles"
            id="consoles"
            value="<%= typeof arena.consoles != 'undefined' ? arena.consoles : '' %>"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="Form-control">
          <label for="players">Players</label>
          <input
            type="number"
            placeholder="Number of consoles"
            name="players"
            id="players"
            value="<%= typeof arena.players != 'undefined' ? arena.players : '' %>"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <p class="container lead mb-2 links">
          <a href="/gaming/upload">Upload image</a>
        </p>
        <button type="submit">Submit</button>
      </form>
      <br />
    </div>
  </body>
</html>
